# --- CONFIGURACIÓN DEL SERVIDOR ---
# El puerto donde correrá tu API (por defecto 3000)
PORT=3000


# --- CONFIGURACIÓN DE LA BASE DE DATOS ---
# El host suele ser localhost en desarrollo

DB_HOST=localhost
# Tu usuario de MySQL (comúnmente 'root')
DB_USER=root
# La contraseña de tu MySQL
DB_PASSWORD=
# El nombre de la base de datos que creaste con el archivo .sql
DB_NAME=soporte_db


# --- SEGURIDAD Y TOKENS ---
# Una palabra secreta larga y aleatoria para firmar los tokens JWT
# Ejemplo: mi_llave_secreta_super_segura_123
JWT_SECRET=escribe_aqui_una_clave_secreta